*.class
*.log
*.pyc
sbt/*.jar
*.code-workspace
.DS_Store

# sbt specific
.cache/
.history/
.lib/
.bsp/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/bin/

.cache-main
.classpath
.project
.settings/
.cache-tests

# intellij
.idea
